.dinnernav{
    height: .4rem;
    background: #008bff;
    line-height: .4rem;
    position: fixed!important;
    top:0!important;
    left: 0!important;
    .swiper-slide{
        width:auto;
        padding:0 .25rem;
        color: beige;
        &.active::after{
            content: "";
            width: .3rem;
            height: 0.04rem;
            background: white;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -0.15rem;
        }
    }

}
