.cities{
    .cityName{
        display: block;
        width:100%;
        height: 50px;
        border-bottom: 1px solid rgb(206, 204, 204);
        font-size: 18px;
        line-height: 50px;
        text-indent: 10px;  
    }
}